@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Meow+Script&display=swap");

:root {
  --background-color: #f1ede6;
  --light-color: #cbad8d;
  --dark-color: #3a2d28;
  --form-color: #d9d9d9;
  --light-color-text: #f1ede6;
  --dark-color-text: #3a2d28;
  --font-family-main: "Libre Caslon Display", serif;
  --font-family-logo: "Meow Script", cursive;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.4rem;
  --h4-color-text: rgba(0, 0, 0, 0.4);
  --h1-font-size: 2.1rem;
  --inactive-color: rgba(0, 0, 0, 0.67);
  --p-font-size: 1.2rem;
  --update-btn-color: #000080;
  --delete-btn-color: #d91e1e;
  --add-btn-color: #50c878;
}
body {
  background-color: var(--background-color);
}

.navbar {
  background-color: var(--light-color);
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-color);
}
.container-nav {
  background-color: var(--light-color);
}
.container-nav * {
  background-color: var(--light-color);
}

.nav-item--special {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: var(--light-color);
}
.container-nav a[href] {
  color: var(--light-color-text);
  font-family: var(--font-family-main);
  font-size: clamp(1rem, 2.5vw + 1rem, 3vh);
  background-color: var(--light-color);
}
.navbar-nav .nav-item .logo {
  font-family: var(--font-family-logo);
}
.navbar-second {
  background-color: var(--dark-color);
  height: 55px;
}
.navbar-second ul {
  background-color: var(--dark-color);
}
.navbar-second .nav-header {
  background-color: var(--dark-color);
  font-size: 20px;
  color: var(--light-color-text);
  font-family: var(--font-family-main);
}
.navbar-second ul {
  background-color: var(--dark-color);
}
.navbar-second .container {
  background-color: var(--dark-color);
  height: 55px;
}
.nav-item {
  position: relative;
}
.navbar-second .navbar-nav {
  width: 40%;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f4e6da;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 10px 20px;
  white-space: nowrap;
}
.dropdown {
  background-color: #f4e6da;
}
.dropdown-menu a {
  background-color: #f4e6da;
  color: var(--dark-color-text);
}

.icons a[href] img {
  display: flex;

  background-color: var(--dark-color);
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 15%;
  background-color: var(--dark-color);
}

.roken-text_button p {
  font-size: 32px;
  font-family: var(--font-family-main);
  width: 60%;
  text-align: center;
}
.roken-text_button button {
  background-color: var(--dark-color);
  width: 15vw;
  height: 15vh;
  color: var(--light-color-text);
  font-family: var(--font-family-main);
  border: none;
  font-size: 20px;
}
.roken img {
  max-width: 100%;
  height: auto;
}
.jumpsuits-text_button button {
  background-color: var(--dark-color);
  width: 15vw;
  height: 120px;
  color: var(--light-color-text);
  font-family: var(--font-family-main);
  border: none;
  font-size: 20px;
}
.jumpsuits-text_button p {
  font-size: 32px;
  font-family: var(--font-family-main);
  width: 60%;
  text-align: center;
}
.bags p {
  font-family: var(--font-family-main);
  font-size: 24px;
}

.bags button {
  background-color: var(--dark-color);
  width: 15vw;
  height: 120px;
  color: var(--light-color-text);
  font-family: var(--font-family-main);
  border: none;
  font-size: 20px;
}
.text-carousel {
  background-color: var(--dark-color);
  height: 55px;
  position: relative;
  overflow: hidden;
}
.text-carousel p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  animation: textAnimation 15s infinite;
  background-color: var(--dark-color);
  color: var(--light-color-text);
  font-size: var(--h3-font-size);
  font-family: var(--font-family-main);
}
.text-carousel p:nth-child(1) {
  animation-delay: 0s;
}

.text-carousel p:nth-child(2) {
  animation-delay: 5s;
}

.text-carousel p:nth-child(3) {
  animation-delay: 9s;
}

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  35% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
footer {
  background-color: var(--light-color);
}
footer * {
  background-color: var(--light-color);
}
.aboutus-titel h1 {
  text-decoration: underline;
  font-family: var(--font-family-logo);
  font-size: var(--h1-font-size);
}
.aboutus-titel h4 {
  font-family: var(--font-family-main);
}
.aboutus-text h3 {
  text-decoration: underline;
  font-family: var(--font-family-main);
}
.aboutus-text p {
  font-family: var(--font-family-main);
  font-size: var(--p-font-size);
}
.aboutus-text {
  gap: 5rem;
  width: 85%;
}
.contact {
  gap: 2rem;
}
.contact-form {
  gap: 1.5rem;
  font-family: var(--font-family-main);
  font-size: var(--h3-font-size);
}
.contact h2 {
  font-family: var(--font-family-logo);
  font-size: 2rem;
}
.contact-form input {
  width: 240px;
  border: none;
  background-color: var(--form-color);
}
.contact-form textarea {
  border: none;
  background-color: var(--form-color);
}
.product-foto img {
  width: 300px;
  height: 350px;
}
.product * {
  font-family: var(--font-family-main);
}
.product-details button {
  background-color: var(--dark-color);
  color: var(--light-color-text);
  width: 300px;
  height: 100px;
  text-align: center;
  font-size: 20px;
}
.product-details button img {
  margin-left: 20px;
}
.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #697d9a;
}
.maat {
  border: solid, black, 1px;
  padding: 10px;
}
.revieuw * {
  font-family: var(--font-family-main);
}
.revieuw p {
  font-size: var(--p-font-size);
}
.custom-modal .modal-dialog {
  min-width: 400px;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.custom-modal .modal-content {
  height: 100%;
}
.modal-body p {
  color: var(--inactive-color);
}
.modal-footer button {
  background-color: var(--dark-color);
  width: 70%;
  color: var(--light-color-text);
  font-family: var(--font-family-main);
}
.product-img {
  height: 40vh;
  overflow: hidden;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-btn {
  border: none;
  background: none;
}
.product-btn img {
  height: 3.5vh;
}
.style * {
  font-family: var(--font-family-main);
  font-size: clamp(1rem, 1.2vw, 2rem);
}
.style h4 {
  color: var(--h4-color-text);
}
.style {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  min-height: 140vh;
  place-items: center;
}
.product-titel {
  font-family: var(--font-family-main);
  font-size: clamp(1.5rem, 1vw + 1rem, 3rem);
}
.a-detail[href] {
  background-color: transparent;
}
.update-btn {
  background-color: var(--update-btn-color);
  width: 8vw;
  height: auto;
  color: var(--light-color-text);
  border: none;
  border-radius: 5px;
}
.delete-btn {
  background-color: var(--delete-btn-color);
  width: 8vw;
  height: auto;
  color: var(--light-color-text);
  border: none;
  border-radius: 5px;
}
.add-btn {
  background-color: var(--add-btn-color);
  display: inline-block;
  width: 3vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: none;
}

/* Hier begint de mobile version*/
@media screen and (max-width: 767px) {
  .roken,
  .jumpsuits,
  .bags {
    position: relative;
  }

  .roken-text_button,
  .jumpsuits-text_button {
    position: absolute;
    bottom: 10px;
    left: 0;
  }
  .roken-text_button p,
  .jumpsuits-text_button p {
    font-size: 15px;
    color: var(--light-color-text);
    width: 100%;
    font-style: italic;
    background-color: rgba(203, 173, 141, 0.3);
    backdrop-filter: blur(10px);
    padding: 10px;
  }
  .roken-text_button button {
    font-size: 2vh;
    height: 40px;
    width: 150px;
    box-shadow: 13px 13px 26px #251c19, -13px -13px 26px #4f3e37;
    border-radius: 70px;
    background-color: var(--light-color);
    position: relative;
    left: -40px;
  }
  .jumpsuits-text_button button {
    font-size: 2vh;
    height: 40px;
    width: 150px;
    border-radius: 70px;
    background-color: var(--light-color);
    position: relative;
    left: -10px;
    box-shadow: 13px 13px 26px #251c19, -13px -13px 26px #4f3e37;
  }
  .bags p {
    width: 100%;
    margin-left: auto;
    position: absolute;
    background-color: rgba(203, 173, 141, 0.3);
    backdrop-filter: blur(10px);
    padding: 5px;
    font-size: 15px;
  }
  .bags button {
    position: relative;
    top: -45px;
    left: -150px;
    box-shadow: 13px 13px 26px #251c19, -13px -13px 26px #4f3e37;
    border-radius: 70px;
    background-color: var(--light-color);
    font-size: 2vh;
    height: 40px;
    width: 150px;
  }
  .banner {
    display: none;
  }
  .text-carousel p {
    font-size: 15px;
  }
  .footer-copyrights p {
    font-size: 10px;
  }
  .footer-contact ul {
    font-size: 10px;
  }
  .footer-followUs {
    font-size: 10px;
  }
  .responsive-nav * {
    background-color: var(--background-color);
  }
  .icons-responsive {
    background-color: var(--dark-color);
    position: absolute;
    bottom: 22px;
    width: 100%;
  }
  .icons-responsive-links {
    background-color: var(--dark-color);
    position: absolute;
    width: 100%;
  }
  .icons-responsive-links img {
    background-color: var(--dark-color);
  }
  .style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    min-height: 120vh;
    place-items: center;
  }
  .product-img {
    height: 30vh;
    overflow: hidden;
  }
}
